/*

APIのCSSを上書き

*/

/*

このアプリケーション用の新しいCSS

*/

.row {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn {
    font-size: 120%;
    border: 1px solid orange;
    padding: 1em 2em;
    margin: 0.5em 0.5em;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
}

.btn:active {
    background-color: rgba(255, 166, 0, 0.5);
}

.btn-checked {
    background-color: orange;
    color: white;
}

.page {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.center-box-top {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: 90%;
    height: 450px;
}

.center-box-period {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: 90%;
    height: 550px;
}

.center-box-keyword {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: 90%;
    height: 400px;
}

/* プランタイトル */

#plan-title {
    box-sizing: border-box;
    text-align: center;
    background-color: orange;
    color: white;
    width: 100%;
    margin: 3px 0 3px 0;
    padding: 0 0.5em;
}

/* 作成中 */

#now-making {
    position: absolute;
    box-sizing: border-box;
    font-size: 200%;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 80%;
    z-index: 1000;
    padding: 1em 0 2em 0;
    background-color: orange;
    color: white;
    border-radius: 10px;
}

#now-making p {
    margin: 5px auto;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/* 地図 */

#map {
    transition: all 1s 0s ease;
    opacity: 0;
}

/* 経路エリア*/

.name {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    padding: 3px;
    background-color: rgb(250, 184, 62);
    text-align: center;
    
}
.desc_box {
    max-height: 0px;
    overflow-y: hidden;
    transition: all 0.5s 0s;
}

/* */